*{
    background-color: rgb(20, 20, 20);
    color: gold;
}

body{
    display: flex;
}

aside{
    flex: 1;
    border-radius: 2px;
}

main{
    flex: 4;
}

#youtube_entry{
    margin-left: 10px;
    padding: 5px;
    border-top: 1px solid orange;
    border-left: 1px solid orange;
    border-right: 1px solid orange;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.050);
}


#ytplayer{
    margin-left: 10px;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: 1px solid orange;
    border-left: 1px solid orange;
    border-right: 1px solid orange;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: rgba(255, 255, 255, 0.050);
    text-align: center;
    min-height: 180px;
    min-width: 300px;
}


#youtube_url, #channel_text{
    border-radius: 2px;
    flex: 4;
    padding: 5px;
    margin: 5px;
    border: 1px solid orange;
    background-color: rgba(255, 255, 255, 0.050);
    color: white;

}

#youtube_button, #channel_send, #download{
    border-radius: 2px;
    flex: 1;
    padding: 5px;
    margin: 5px;
    border: 1px solid orange;
    background-color: rgba(255, 255, 255, 0.050);
    cursor: pointer;
}

#title_name{
    border-top: 1px solid orange;
    border-left: 1px solid orange;
    border-bottom: 1px solid orange;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.75px;
    font-size: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.050);
}

#channel_entry{
    text-align: center;
    border: 1px solid orange;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin: 10px;
    margin-top: 0px;
    border-top: none;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.050);
    display: flex;
}

#channel_text:focus, #youtube_url:focus{
    outline: none;
}


#channel_send:active, #youtube_button:active, #download:active{
    transition: 0.1s;
    box-shadow: 0px 0px 3px 3px #656565;
    -moz-box-shadow: 0px 0px 3px 3px #656565;

}

#channel_send:focus, #youtube_button:focus, #download:focus{
    outline: none;
}

#how_online{
    text-align: center;
    border: 1px solid orange;
    border-radius: 2px;
    margin: 10px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.050);
}

#how_online p{
    text-align: left;
    border: 1px solid orange;
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.050);
}

#messages {
    border: 1px solid orange;
    height: 90vh;
    border-radius: 2px;
    border-top-left-radius: 0px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.050);
    
}

#messages p{
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid orange;
    background-color: rgba(0, 0, 0 , 0.300);
    font-weight: bold;
    letter-spacing: 0.75px;
    font-size: 15px;
}
#messages :nth-child(odd){
    background-color: rgba(0, 0, 0 , 0.100);    
}

#message{
    border-radius: 2px;
    flex: 30;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid orange;
    background-color: rgba(255, 255, 255, 0.050);
    color: white;
}

#message:focus{
    outline: none;
}

#name{
    border-radius: 2px;
    flex: 2;
    padding: 5px;
    border: 1px solid orange;
    background-color: rgba(255, 255, 255, 0.050);
    color: white;
    
}

#name:focus{
    outline: none;
}

#send{
    border-radius: 2px;
    flex: 1;
    padding: 5px;
    border: 1px solid orange;
    background-color: rgba(255, 255, 255, 0.050);
    cursor: pointer;
}

#send:focus{
    outline: none;
}

#send:active{
    transition: 0.1s;
    box-shadow: 0px 0px 3px 3px #656565;
    -moz-box-shadow: 0px 0px 3px 3px #656565;

}

#send_form {
    display: flex;
    margin-top: 5px;
}
